/Web Scraper/task/‘Unprecedented_achievement’_who_received_the_first_billion_COVID_vaccinations.txt
/Web Scraper/task/Weird_viral_DNA_spills_secrets_to_biologists.txt
/Web Scraper/task/Psychedelic_drugs_without_the_trip_This_sensor_could_help_seek_them_out.txt
/Web Scraper/task/Key_COVID_research_hit_by_cut_to_UK_foreignaid_budget.txt
/Web Scraper/task/COVID_research_updates_A_Chilean_city’s_COVID_toll_reflects_its_vast_inequalities.txt
